<%- include('partials/header') %>

    <section class="section">
        <div class="container">
            <h2 class="title has-text-centered has-text-purple">Bem-vindo ao meu portfólio!</h2>
            <p class="has-text-centered">
                Aqui você encontrará meus projetos e minha trajetória acadêmica.
            </p>

            <!-- Aqui seu código de projetos, por exemplo -->
            <section id="projetos">
                <!-- seus cards de projetos aqui -->
            </section>
        </div>
    </section>

    <%- include('partials/footer') %>