.navbar {
    background-color: var(--preto);
}

.navbar-item {
    color: var(--roxo) !important;
    font-weight: 500;
}

.navbar-item:hover {
    background-color: var(--roxo-escuro);
    color: white !important;
}

.navbar-burger span {
    background-color: var(--roxo);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0e0e1a;
    color: #fff;
}

.hero {
    background: linear-gradient(135deg, #4a148c, #2e003e);
}

.button.is-link {
    background-color: #9c27b0;
    border: none;
}

.button.is-link:hover {
    background-color: #7b1fa2;
}

.tag.is-info {
    background-color: #7e57c2;
}

.box {
    background-color: #1f1f2e;
    color: #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 0 8px #4a148c;
}