<footer class="footer">
    <div class="content">
        <p>
            &copy; <%= new Date().getFullYear() %> Raphaela Monteiro - Todos os direitos reservados
        </p>
    </div>
</footer>

</body>

</html>