<footer class="footer has-background-black has-text-centered py-5">
    <div class="content has-text-light">
        <p class="is-size-6">
            &copy; <%= new Date().getFullYear() %>
                <span class="has-text-purple-light has-text-weight-semibold">Raphaela Monteiro</span> —
                Todos os direitos reservados.
        </p>
        <p class="is-size-7 has-text-grey-light mt-2">
            Desenvolvido com 💜 usando Node.js, Express, EJS e Bulma.
        </p>
    </div>
</footer>

</body>

</html>