<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfólio | Raphaela Monteiro</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

    <link rel="stylesheet" href="/css/style.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon/kuromi.png" />
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/favicon/kuromi.png" alt="Foto" style="max-height: 48px; border-radius: 50%;" />
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <div id="navbarBasic" class="navbar-menu">

                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="#sobre">Sobre mim</a>
                    <a class="navbar-item" href="#projetos">Projetos</a>
                    <a class="navbar-item" href="/projetos/novo">Novo Projeto</a>

                </div>
            </div>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const burgers = document.querySelectorAll('.navbar-burger');
            burgers.forEach(burger => {
                burger.addEventListener('click', () => {
                    const target = document.getElementById(burger.dataset.target);
                    burger.classList.toggle('is-active');
                    target.classList.toggle('is-active');
                });
            });
        });
    </script>